header {
    margin-bottom: 4rem;

    nav {
        background-color: #212121;

        .appBrand {
            padding: 0;

            #logo {
                width: 60px;
            }
        }
    }
}