.exerciseLibraryCard {
    &:active {
        cursor: pointer;
        outline: 0;
        background: rgba(0, 10, 10, .025);
        fill: #212121;
        color: #212121
    }

    &:hover {
        cursor: pointer;
        transform: translateY(-2px);
        box-shadow: 0 10px 8px 0 rgba(0, 0, 0, .12),
        0 1px 18px 0 rgba(0, 0, 0, .09),
        0 3px 5px -1px rgba(0, 0, 0, .145) !important;
    }

    .exerciseImg {
        background-color: black !important;
        height: 150px;
    }
}

