footer {
    background-color: #212121;

    p {
        color: #FAFAFA;
        margin: 0;
    }

    .authorAnchor {
        color: #64FFDA;;
        text-decoration: none;
        transition: 0.25s ease color;

        &:hover {
            color: #FAFAFA;
        }
    }

    .brandIconAnchor {
        color: #FAFAFA;
        text-decoration: none;
        transition: 0.25s ease color;

        &:hover {
            color: #FFF
        }
    }
}
